<div class="container mt-4">
  <div class="row grid gap-3">
    <div class="col">
      <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <h5>Cash Flow</h5>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            >Initial Investment</span
          >
          <input
            type="number"
            class="form-control"
            [(ngModel)]="request.InitialInvestment"
          />
        </div>
        <hr />
        <div
          class="input-group mb-3"
          *ngFor="let cashFlow of cashFlows; let i = index"
        >
          <span class="input-group-text" id="basic-addon1"
            >Period {{ i + 1 }}</span
          >
          <input
            type="number"
            class="form-control"
            [value]="request.CashFlows[i]"
            (input)="updateCashFlow($event, i)"
          />
        </div>
        <div class="d-grid gap-2 d-md-block">
          <button
            class="btn btn-primary mx-1"
            type="button"
            (click)="AddCashFlow()"
          >
            Add
          </button>
          <button
            class="btn btn-primary mx-1"
            type="button"
            (click)="RemoveCashFlow()"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
    <div class="col shadow-sm p-3 mb-5 bg-body-tertiary rounded">
      <h5>Discount Rate</h5>
      <hr />
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Lower</span>
        <input
          type="number"
          class="form-control"
          aria-describedby="basic-addon1"
          [(ngModel)]="request.Lower"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Upper</span>
        <input
          type="number"
          class="form-control"
          aria-describedby="basic-addon1"
          [(ngModel)]="request.Upper"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Increment</span>
        <input
          type="number"
          class="form-control"
          aria-describedby="basic-addon1"
          [(ngModel)]="request.RateIncrement"
        />
      </div>
      <button
        class="btn btn-primary mx-1"
        type="button"
        id="calculateNpv"
        (click)="calculateNpv()"
      >
        Calculate NPV
      </button>
    </div>
  </div>

  <div class="row shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <div class="ct-chart"></div>
  </div>

  <div class="row shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <table class="table">
      <thead>
        <tr>
          <th>Rate</th>
          <th>Net Present Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of result">
          <td>{{ data.rate }}</td>
          <td>{{ data.npv }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
